*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

.contenedor {
    position: relative;
    height: 250px; /* Altura deseada */
}
  
.imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('public/images/unnamed.jpg');
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
  background-attachment: fixed; /* Fija la imagen de fondo */
}

.oscurecer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0 , 0.65);  
}


.motion-div{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

.footer{
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14);
}